[submodule "KH Volume slider/Resources/khtool"]
	path = KH Volume slider/Resources/khtool
	url = git@github.com:schwinn/khtool.git
[submodule "KH Volume slider/Resources/pyssc"]
	path = KH Volume slider/Resources/pyssc
	url = git@github.com:schwinn/pyssc.git
